{% extends "website/base.html" %}
{% load staticfiles %}
{% block title %}About | Romain Zanchi{% endblock title %}
{% block navbar_about %}active{% endblock navbar_about %}

{% block page_title %}
<h1>About</h1>
{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="col-md-2"><img src="{% static 'website/img/zanchi_r.jpg' %}" class="img-responsive img-rounded" alt="Responsive image"></div>
  <div class="col-md-10"><p>Hi, I'm Romain Zanchi, a french developer. I'm a 21-year-old computer science student in 3rd year at Epitech Montpellier, France.<br />Passionate about computer science and new technologies for many years, I started at the age of 13 to get interested in programming and hardware (overclocking, benchmarks,...).</p></div>
</div> <!-- row -->
<div class="bottom-separator"><h1>Social</h1></div>
<div class="row">
  <div class="col-md-1 top-marged"><a href="http://fr.linkedin.com/pub/romain-zanchi/74/a94/763/en"><img src="{% static 'website/img/linkedin-logo.png' %}" width="80px"></a></div>
  <div class="col-md-1 top-marged"><a href="https://github.com/zanchi-r"><img src="{% static 'website/img/github-logo.png' %}" width="80px"></a></div>
</div>
<div class="bottom-separator"><h1>Learn more</h1></div>
<div class="top-marged"><p>My skills are detailed on my <a href="/cv">resume</a>.</p><p><a href="/contact">Contact me</a> for more information.</p></div>
{% endblock content %}
