{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'/>
    <title>{% block title %}Romain Zanchi{% endblock title %}</title>
    {% block css %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />
    {% endblock css %}
    {% block js %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock js %}
  </head>

  <body>
      <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
	<div class="container">
	  <div class="navbar-header">
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	    <a href="/" class="navbar-brand">Romain Zanchi</a>
	  </div>
	  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	    <ul class="nav navbar-nav navbar-right">
              <li class="{% block navbar_home %}{% endblock %}">
		<a href="/">Home</a>
              </li>
              {#<li class="{% block navbar_projects %}{% endblock %}">#}
		{#<a href="/projects">Projects</a>#}
		{#</li>#}
              <li class="{% block navbar_cv %}{% endblock %}">
		<a href="/cv">Resume</a>
              </li>
              <li class="{% block navbar_about %}{% endblock %}">
		<a href="/about">About</a>
              </li>
              <li class="{% block navbar_contact %}{% endblock %}">
		<a href="/contact">Contact me</a>
              </li>
	    </ul>
	  </nav>
	</div>
      </header>
      <div class="container" id="main-container">
	<div id="page-title">{% block page_title %}{% endblock page_title %}</div>
	<div id="page-content">{% block content %}{% endblock content %}</div>
      </div>
      <script src="{% static 'piwik.js' %}"></script>
  </body>
</html>
