{% load staticfiles %}
<form role="form" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="contactName">Name <span class="hint-classic">(required)</span></label>
    <input type="text" class="form-control" id="contactName" name="contactName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="contactEmail">Email <span class="hint-classic">(required)</span></label>
    <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label for="contactSubject">Subject <span class="hint-classic">(required)</span></label>
    <input type="text" class="form-control" id="contactSubject" name="contactSubject" placeholder="Subject">
  </div>
  <div class="form-group">
    <label for="contactMessage">Message <span class="hint-classic">(required)</span></label>
    <textarea type="text" class="form-control" id="contactMessage" name="contactMessage" rows="3" placeholder="Message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="submitButton">Send</button>
  <button type="reset" class="btn btn-danger">Reset</button>
</form>
<script type="text/javascript" src="{% static 'website/js/contact_form_validity.js' %}"></script>
