{% extends "website/base.html" %}
{% block title %}Contact me | Romain Zanchi{% endblock title %}
{% block navbar_contact %}active{% endblock navbar_contact %}

{% block page_title %}
<h1>Contact form</h1>
{% endblock page_title %}

{% block content %}

{% if sendError == True %}
<div class="alert alert-danger"><strong>Error. </strong>The message has not been sent. Please try again later</div>
{% elif sendSuccess == True %}
<div class="alert alert-success"><strong>Message sent. </strong>A response will be provided as soon as possible</div>
{% else %}
{% include "website/contact_form.html" %}
{% endif %}

{% endblock content %}
