{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'website/css/cv.css'  %}" />

<div id="cv">
  <!-- header -->
  <div class="cv-section">
    <div class="row cv-block">
      <div class="col-md-10">
	<p id="cv-name"><strong>Romain Zanchi</strong></p>
	<br />
	<p>5050 E garford st #274</p>
	<p>90815 Long Beach, CA</p>
	<p>04/05/1993</p>
	<p>(562)331-1896</p>
	<p>romainzanchi30@gmail.com</p>
      </div>
      <div class="col-md-2"><img src="{% static 'website/img/zanchi_r.jpg' %}" class="img-rounded"></div>
    </div>
  </div>

  <!-- experience-->
  <div class="cv-section">
    <!-- Yooda -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"><p>Experience</p></div>
      <div class="col-md-10 cv-right-col">
	<p>Yooda (France): April 2014 - July 2014</p>
	<ul>
	  <li>
	    Internship: R&D
	    <ul>
	      <li>Development of a library using D3.js and WebGL (three.js)</li>
	    </ul>
	  </li>
	</ul>
      </div>
    </div>
    <!-- AER epitech-->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"></div>
      <div class="col-md-10 cv-right-col">
	<p>Epitech (France): February 2013 - March 2014</p>
	<ul>
	  <li>
	    Teaching assistant
	    <ul>
	      <li>Management of the teaching assistant team (11 people)</li>
	      <li>Project grading</li>
	      <li>Computer science teaching: C, C++, Unix</li>
	      <li>Exam proctoring</li>
	    </ul>
	  </li>
	</ul>
      </div>
    </div>
    <!-- TeamBox -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"></div>
      <div class="col-md-10 cv-right-col">
	<p>TeamBox (France): July 2012 - December 2012</p>
	<ul>
	  <li>
	    Internship: Web developer
	    <ul>
	      <li>Development of a VOIP telemarketing software using PHP, JavaScript, MySQL</li>
	    </ul>
	  </li>
	</ul>
      </div>
    </div>
  </div><!-- /experience -->

  <!-- Education -->
  <div class="cv-section">
    <!-- CSULB -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"><p>Education</p></div>
      <div class="col-md-10 cv-right-col">
	<p>California State University, Long Beach: 2014 - 2015</p>
	<p>Study abroad @ the Beach</p>
      </div>
    </div>
    <!-- epitech -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"><p></p></div>
      <div class="col-md-10 cv-right-col">
	<p>Epitech Montpellier (France): 2011 - 2016</p>
	<p>Master of Information Technology</p>
      </div>
    </div>
    <!-- stanford -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"></div>
      <div class="col-md-10 cv-right-col">
	<p>Stanford Startup Engineering (Coursera): 2013</p>
	<p>This introductory course teaches engineering, design, and marketing in the context of mobile web development</p>
      </div>
    </div>
    <!-- bac -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"></div>
      <div class="col-md-10 cv-right-col">
	<p>A-Level with specialization in science and technology - 2011</p>
	<p>Lycée Albert Einstein - Bagnols-sur-cèze (France)</p>
      </div>
    </div>
  </div><!-- /Education -->

  <!-- Skills -->
  <div class="cv-section">
    <!-- general -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"><p>Skills</p></div>
      <div class="col-md-10 cv-right-col">
	<p>General:</p>
	<ul>
	  <li>Version Control: Git, SVN</li>
	  <li>Databases: MySQL, PostgreSQL</li>
	  <li>System administration: GNU/Linux, Mac OS, Windows</li>
	</ul>
      </div>
    </div>
    <!-- soft -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"><p></p></div>
      <div class="col-md-10 cv-right-col">
	<p>Software development:</p>
	<ul>
	  <li>C, C++, Python, Java, OCaml, Lua</li>
	  <li>Frameworks : Qt</li>
	</ul>
      </div>
    </div>
    <!-- web -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"><p></p></div>
      <div class="col-md-10 cv-right-col">
	<p>Web development:</p>
	<ul>
	  <li>HTML5 / CSS3 (bootstrap), Python (Django), PHP (Symphony 2), JavaScript (jQuery, D3.js)</li>
	</ul>
      </div>
    </div>
  </div><!-- /Skills -->

  <!-- languages -->
  <div class="cv-section">
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"><p>Languages</p></div>
      <!-- french -->
      <div class="col-md-10 cv-right-col">
	<p>French: Mother tongue</p>
      </div>
    </div>
    <!-- english -->
    <div class="row cv-block">
      <div class="col-md-2 cv-left-col"></div>
      <div class="col-md-10 cv-right-col">
	<p>English: Professional proficiency</p>
	<ul>
	  <li>E-TOEIC - 870</li>
	  <li>TOEFL - 80</li>
	</ul>
      </div>
    </div>
  </div><!-- /languages -->
</div>
