{% extends "website/base.html" %}
{% load staticfiles %}
{% block title %}Resume | Romain Zanchi{% endblock title %}
{% block navbar_cv %}active{% endblock navbar_cv %}

{% block page_title %}
<h1>Resume</h1>
{% endblock page_title %}

{% block content %}
<p>Download my resume in <a href="{% static 'website/pdf/zanchi_r-cv-en.pdf' %}">English</a> or in <a href="{% static 'website/pdf/zanchi_r-cv-fr.pdf' %}">French</a></p>
{% include "website/cv.html" %}
{% endblock content %}
