{% extends "website/base.html" %}
{% load staticfiles %}
{% block navbar_projects %}active{% endblock navbar_projects %}

{% block page_title %}
<h1>Projects</h1>
{% endblock page_title %}

{% block content %}
<p>Projects</p>
{% endblock content %}
