div#cv {
    line-height: 0.8;
    color: black;
    margin: 3em 3em 3em 3em;
}

p#cv-name {
    font-size: 24px;
}

div.cv-section,
div.cv-block {
    padding-bottom: 1em;
}
div.cv-left-col {
    font-size: 24px;
}

div.cv-right-col {
    border-left: 3px solid green;
}

ul, li {
    line-height: 1.5;
}