body {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
div#page-title,
.bottom-separator {
    border-bottom: 1px solid #e7e7e7;
}

div.top-marged {
    margin-top: 2em;
}

div#page-content {
    margin-top: 2em;
    padding-bottom: 2em;
}

.navbar-nav>.active>a {
    border-bottom: 4px solid #66CCFF;
}

div#main-container {
    padding-top: 55px;
}

span.hint-classic {
    font-size: 12px;
    color: grey;
}